* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: #990099;
  color: white;
  overflow: hidden;
}

.page-header a {
  color: white;
}

.page-header__content,
.page-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header__title {
  font-size: 60px;
}

.page-header__subtitle {
  font-size: 24px;
  margin: 20px 0 60px 0;
}

.page-content {
  margin-top: 40px;
}

.servers {
  /* margin: -15px 0 0 -15px; */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.server {
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a.server:hover {
  transform: translateY(-5px);
}

.server--ghost {
  opacity: 0.7;
}

.server__domain {
  font-weight: bold;
  margin-bottom: 15px;
}

.server__description {
  font-size: 13px;
}

a.button {
  display: inline-block;
  background-color: #990099;
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 40px;
}
